.env
.vscode
*.png
*.mp3
*.mp4
google_auth.json
credentials.storage
yt_client_secret.json
!icons
!sounds
thumbnail-memes/*.png
thumbnail-memes/*.PNG
thumbnail-memes/*.jpg
thumbnail-memes/*.JPG
thumbnail-memes/*.webp
thumbnail-memes/*.WEBP
